<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello there</p>
    <p>Please find your bill below</p>
    <p>Thank You </p>
  </body>
</html>