
#main{
	 position:absolute;
     width:800px;
     border-radius: 5px;
     background-color: beige;
     margin: 10px 0px 0px 250px;
    
}
#title{
	text-align: center;
	border-bottom: 1px solid black;
}
#form{
	padding: 5px;
	margin: 20px;
	width: 760px;
	background-color: skyblue;
	border-radius: 5px;
}
textarea,input,button{
	border-radius: 2px;
	width: 200px;
}
textarea{
	height: 50px;
}
label{
	margin-right: 5px;
}


